n8n/workflows/ai-copilot/process-telegram-message.json
{
  "name": "Process Telegram Message (AI Copilot)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "telegram-lifeos-bot",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-voice",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-message-type",
      "name": "Is Voice Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.message.voice.file_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "get-voice-file-info",
      "name": "Get Voice File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "id": "download-voice",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "de",
          "temperature": 0
        }
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract text from voice transcription or text message\nconst message = $('Telegram Trigger').item.json.message;\nlet text;\n\nif ($input.item.json.text) {\n  // From Whisper transcription\n  text = $input.item.json.text;\n} else {\n  // Direct text message\n  text = message.text || '';\n}\n\nreturn {\n  json: {\n    text: text,\n    chat_id: message.chat.id,\n    user_id: message.from.id,\n    username: message.from.username || message.from.first_name,\n    message_id: message.message_id,\n    is_voice: !!message.voice\n  }\n};"
      },
      "id": "extract-text",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse command from message text\nconst input = $input.item.json;\nconst text = (input.text || '').trim();\n\n// Command patterns\nconst commands = {\n  task: /^\\/task\\s+(.+)/i,\n  habit: /^\\/habit\\s+(\\w+)/i,\n  sup: /^\\/sup\\s+(\\w+)/i,\n  supplement: /^\\/supplement\\s+(\\w+)/i,\n  today: /^\\/today$/i,\n  balance: /^\\/balance$/i,\n  networth: /^\\/networth$/i,\n  nw: /^\\/nw$/i,\n  help: /^\\/help$/i,\n  status: /^\\/status$/i,\n  inbox: /^\\/inbox$/i,\n  fire: /^\\/fire$/i,\n  search: /^\\/search\\s+(.+)/i,\n  ask: /^\\/ask\\s+(.+)/i,\n  docs: /^\\/docs\\s+(.+)/i\n};\n\nlet command = null;\nlet args = null;\nlet isCommand = false;\n\n// Check each command pattern\nfor (const [cmd, pattern] of Object.entries(commands)) {\n  const match = text.match(pattern);\n  if (match) {\n    command = cmd;\n    args = match[1] || null;\n    isCommand = true;\n    break;\n  }\n}\n\n// If no command matched, treat as freetext for AI\nif (!isCommand && text.length > 0) {\n  command = 'ai_chat';\n  args = text;\n}\n\nreturn {\n  json: {\n    ...input,\n    command: command,\n    args: args,\n    is_command: isCommand,\n    raw_text: text\n  }\n};"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "task",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "habit",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "habit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "supplement",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "sup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "supplement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "today",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "balance",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "networth",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "networth",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "nw",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "fire",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "inbox",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "inbox",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "help",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "ai_chat",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ai_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "search",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ask",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "docs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "ai_chat"
        }
      },
      "id": "command-router",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbox_items (id, source, item_type, title, content, status, priority, created_at, updated_at) VALUES (gen_random_uuid(), 'telegram', 'task', '{{ $json.args.replace(/'/g, \"''\") }}', NULL, 'neu', 'mittel', NOW(), NOW()) RETURNING id, title",
        "options": {}
      },
      "id": "insert-task",
      "name": "Insert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $input.item.json;\nreturn {\n  json: {\n    response: `:white_check_mark: Aufgabe erstellt:\\n\\n\"${result.title}\"\\n\\nID: \\`${result.id.substring(0, 8)}\\``,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-task-response",
      "name": "Format Task Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH habit_match AS (SELECT id, name FROM habits WHERE LOWER(name) LIKE LOWER('%{{ $json.args }}%') OR LOWER(short_name) = LOWER('{{ $json.args }}') LIMIT 1) INSERT INTO habit_logs (id, habit_id, date, completed, created_at) SELECT gen_random_uuid(), hm.id, CURRENT_DATE, true, NOW() FROM habit_match hm ON CONFLICT (habit_id, date) DO UPDATE SET completed = true, updated_at = NOW() RETURNING (SELECT name FROM habits WHERE id = habit_logs.habit_id) as habit_name",
        "options": {}
      },
      "id": "log-habit",
      "name": "Log Habit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $input.item.json;\nlet response;\n\nif (result.habit_name) {\n  response = `:white_check_mark: Habit \"${result.habit_name}\" als erledigt markiert!`;\n} else {\n  response = `:x: Habit \"${ $('Parse Command').item.json.args }\" nicht gefunden.`;\n}\n\nreturn {\n  json: {\n    response: response,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-habit-response",
      "name": "Format Habit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH supp_match AS (SELECT id, name FROM supplements WHERE LOWER(name) LIKE LOWER('%{{ $json.args }}%') OR LOWER(short_name) = LOWER('{{ $json.args }}') LIMIT 1) INSERT INTO supplement_logs (id, supplement_id, taken_at, dosage, created_at) SELECT gen_random_uuid(), sm.id, NOW(), (SELECT standard_dosage FROM supplements WHERE id = sm.id), NOW() FROM supp_match sm RETURNING (SELECT name FROM supplements WHERE id = supplement_logs.supplement_id) as supplement_name, dosage",
        "options": {}
      },
      "id": "log-supplement",
      "name": "Log Supplement",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $input.item.json;\nlet response;\n\nif (result.supplement_name) {\n  response = `:pill: ${result.supplement_name} (${result.dosage || 'Standard'}) eingenommen!`;\n} else {\n  response = `:x: Supplement \"${ $('Parse Command').item.json.args }\" nicht gefunden.`;\n}\n\nreturn {\n  json: {\n    response: response,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-supplement-response",
      "name": "Format Supplement Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object('garmin', (SELECT row_to_json(g) FROM garmin_daily_stats g WHERE date = CURRENT_DATE LIMIT 1), 'habits', (SELECT json_agg(json_build_object('name', h.name, 'completed', COALESCE(hl.completed, false))) FROM habits h LEFT JOIN habit_logs hl ON h.id = hl.habit_id AND hl.date = CURRENT_DATE WHERE h.is_active = true), 'inbox_count', (SELECT COUNT(*) FROM inbox_items WHERE status IN ('neu', 'in_bearbeitung')), 'meetings_today', (SELECT COUNT(*) FROM meetings WHERE date = CURRENT_DATE), 'tasks_due', (SELECT COUNT(*) FROM inbox_items WHERE due_date = CURRENT_DATE AND status != 'erledigt')) as today_data",
        "options": {}
      },
      "id": "get-today-data",
      "name": "Get Today Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.today_data;\nconst garmin = data.garmin || {};\nconst habits = data.habits || [];\n\n// Format habits\nconst completedHabits = habits.filter(h => h.completed).length;\nconst totalHabits = habits.length;\nconst habitsText = habits.map(h => `${h.completed ? ':white_check_mark:' : ':white_large_square:'} ${h.name}`).join('\\n');\n\n// Build response\nlet response = `:calendar: **Heute** (${new Date().toLocaleDateString('de-DE', { weekday: 'long', day: 'numeric', month: 'long' })})\\n\\n`;\n\nif (garmin.sleep_score || garmin.body_battery) {\n  response += `:watch: **Garmin**\\n`;\n  if (garmin.sleep_score) response += `Schlaf: ${garmin.sleep_score}/100\\n`;\n  if (garmin.body_battery) response += `Body Battery: ${garmin.body_battery}%\\n`;\n  if (garmin.stress_avg) response += `Stress: ${garmin.stress_avg}\\n`;\n  response += '\\n';\n}\n\nresponse += `:dart: **Habits** (${completedHabits}/${totalHabits})\\n${habitsText}\\n\\n`;\nresponse += `:inbox_tray: Inbox: ${data.inbox_count} offen\\n`;\nresponse += `:calendar: Termine: ${data.meetings_today}\\n`;\nresponse += `:exclamation: Fällig heute: ${data.tasks_due}`;\n\nreturn {\n  json: {\n    response: response,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-today-response",
      "name": "Format Today Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, current_balance, account_type FROM accounts WHERE is_active = true ORDER BY current_balance DESC",
        "options": {}
      },
      "id": "get-balances",
      "name": "Get Balances",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const accounts = $input.all().map(i => i.json);\nconst total = accounts.reduce((sum, a) => sum + (a.current_balance || 0), 0);\n\nconst formatCurrency = (n) => new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(n);\n\nconst accountLines = accounts.map(a => \n  `${a.name}: ${formatCurrency(a.current_balance)}`\n).join('\\n');\n\nconst response = `:bank: **Kontostände**\\n\\n${accountLines}\\n\\n:moneybag: **Gesamt: ${formatCurrency(total)}**`;\n\nreturn [{\n  json: {\n    response: response,\n    chat_id: $('Parse Command').first().json.chat_id\n  }\n}];"
      },
      "id": "format-balance-response",
      "name": "Format Balance Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ds.*, up.fire_target_amount, up.fire_monthly_expenses FROM daily_snapshots ds, user_preferences up WHERE ds.date = (SELECT MAX(date) FROM daily_snapshots) LIMIT 1",
        "options": {}
      },
      "id": "get-networth",
      "name": "Get Net Worth",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 600],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\nconst formatCurrency = (n) => new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR', maximumFractionDigits: 0 }).format(n || 0);\n\nconst fireProgress = data.fire_target_amount > 0 \n  ? ((data.net_worth / data.fire_target_amount) * 100).toFixed(1)\n  : 0;\n\nconst passiveIncome = (data.net_worth * 0.04) / 12;\nconst expensesCovered = data.fire_monthly_expenses > 0\n  ? ((passiveIncome / data.fire_monthly_expenses) * 100).toFixed(0)\n  : 0;\n\nlet response = `:chart_with_upwards_trend: **Vermögensübersicht**\\n\\n`;\nresponse += `:moneybag: **Nettovermögen: ${formatCurrency(data.net_worth)}**\\n\\n`;\nresponse += `Assets: ${formatCurrency(data.total_assets)}\\n`;\nresponse += `Verbindlichkeiten: ${formatCurrency(data.total_liabilities)}\\n\\n`;\n\nresponse += `:house: Immobilien: ${formatCurrency(data.property_value)}\\n`;\nresponse += `:chart_with_upwards_trend: Investments: ${formatCurrency(data.investment_value)}\\n`;\nresponse += `:dollar: Cash: ${formatCurrency(data.cash_value)}\\n`;\nresponse += `:office: Unternehmen: ${formatCurrency(data.company_value)}\\n\\n`;\n\nif (data.fire_target_amount > 0) {\n  response += `:fire: **FIRE Progress: ${fireProgress}%**\\n`;\n  response += `Ziel: ${formatCurrency(data.fire_target_amount)}\\n`;\n  response += `Passives Einkommen (4%): ${formatCurrency(passiveIncome)}/Mo\\n`;\n  response += `Ausgabendeckung: ${expensesCovered}%`;\n}\n\nreturn {\n  json: {\n    response: response,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-networth-response",
      "name": "Format Net Worth Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, status, priority, due_date FROM inbox_items WHERE status IN ('neu', 'in_bearbeitung') ORDER BY CASE priority WHEN 'hoch' THEN 1 WHEN 'mittel' THEN 2 ELSE 3 END, due_date NULLS LAST LIMIT 10",
        "options": {}
      },
      "id": "get-inbox",
      "name": "Get Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 700],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst priorityEmoji = {\n  'hoch': ':red_circle:',\n  'mittel': ':orange_circle:',\n  'niedrig': ':white_circle:'\n};\n\nconst statusEmoji = {\n  'neu': ':new:',\n  'in_bearbeitung': ':hourglass:'\n};\n\nconst itemLines = items.map(i => {\n  const priority = priorityEmoji[i.priority] || ':white_circle:';\n  const status = statusEmoji[i.status] || '';\n  const due = i.due_date ? ` (${new Date(i.due_date).toLocaleDateString('de-DE')})` : '';\n  return `${priority} ${i.title}${due}`;\n}).join('\\n');\n\nconst response = `:inbox_tray: **Inbox** (${items.length} Einträge)\\n\\n${itemLines || 'Keine offenen Einträge!'}`;\n\nreturn [{\n  json: {\n    response: response,\n    chat_id: $('Parse Command').first().json.chat_id\n  }\n}];"
      },
      "id": "format-inbox-response",
      "name": "Format Inbox Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 700]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const helpText = `:robot: **Life OS Bot Befehle**\\n\\n` +\n`:white_check_mark: **/task <text>** - Neue Aufgabe erstellen\\n` +\n`:dart: **/habit <name>** - Habit als erledigt markieren\\n` +\n`:pill: **/sup <name>** - Supplement loggen\\n` +\n`:calendar: **/today** - Tagesübersicht\\n` +\n`:bank: **/balance** - Kontostände\\n` +\n`:chart_with_upwards_trend: **/networth** - Vermögensübersicht\\n` +\n`:fire: **/fire** - FIRE Progress\\n` +\n`:inbox_tray: **/inbox** - Offene Einträge\\n` +\n`:mag: **/search <frage>** - Dokumente durchsuchen (RAG)\\n\\n` +\n`:speech_balloon: Oder einfach eine Frage stellen!`;\n\nreturn {\n  json: {\n    response: helpText,\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-help-response",
      "name": "Format Help Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 800]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_build_object('user_name', (SELECT value FROM user_preferences WHERE key = 'user_name' LIMIT 1), 'habits_today', (SELECT json_agg(h.name) FROM habits h LEFT JOIN habit_logs hl ON h.id = hl.habit_id AND hl.date = CURRENT_DATE WHERE h.is_active = true AND hl.id IS NULL), 'net_worth', (SELECT net_worth FROM daily_snapshots ORDER BY date DESC LIMIT 1), 'inbox_count', (SELECT COUNT(*) FROM inbox_items WHERE status IN ('neu', 'in_bearbeitung'))) as context",
        "options": {}
      },
      "id": "get-ai-context",
      "name": "Get AI Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 900],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Du bist der Life OS AI Copilot, ein persönlicher Assistent. \n\nAktueller Kontext:\n- Benutzer: {{ $json.context.user_name || 'User' }}\n- Offene Habits heute: {{ JSON.stringify($json.context.habits_today) }}\n- Nettovermögen: {{ $json.context.net_worth ? $json.context.net_worth.toLocaleString('de-DE') + ' EUR' : 'unbekannt' }}\n- Offene Inbox-Einträge: {{ $json.context.inbox_count }}\n\nAntworte kurz und prägnant auf Deutsch. Nutze Emojis sparsam."
            },
            {
              "role": "user",
              "content": "={{ $('Parse Command').item.json.args }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1780, 900],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    response: $input.item.json.message?.content || $input.item.json.text || 'Keine Antwort erhalten.',\n    chat_id: $('Parse Command').item.json.chat_id\n  }\n};"
      },
      "id": "format-ai-response",
      "name": "Format AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 900]
    },
    {
      "parameters": {},
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2220, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": false
        }
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2660, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_URL }}/webhook/rag-query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $env.N8N_WEBHOOK_AUTH }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($json.args) }},\n  \"chat_id\": {{ $json.chat_id }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-rag-workflow",
      "name": "Call RAG Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 1000]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ragResponse = $input.item.json;\nconst parseCommand = $('Parse Command').item.json;\n\nreturn {\n  json: {\n    response: ragResponse.response || ':x: Fehler bei der Dokumentensuche.',\n    chat_id: parseCommand.chat_id\n  }\n};"
      },
      "id": "format-search-response",
      "name": "Format Search Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 1000]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Voice Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Message?": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route by Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Command": {
      "main": [
        [
          {
            "node": "Insert Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Habit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Supplement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Today Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Balances",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Net Worth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get AI Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call RAG Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG Workflow": {
      "main": [
        [
          {
            "node": "Format Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Task": {
      "main": [
        [
          {
            "node": "Format Task Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Habit": {
      "main": [
        [
          {
            "node": "Format Habit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Habit Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Supplement": {
      "main": [
        [
          {
            "node": "Format Supplement Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Supplement Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Data": {
      "main": [
        [
          {
            "node": "Format Today Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Today Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Balances": {
      "main": [
        [
          {
            "node": "Format Balance Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Balance Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Net Worth": {
      "main": [
        [
          {
            "node": "Format Net Worth Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Net Worth Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbox": {
      "main": [
        [
          {
            "node": "Format Inbox Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Inbox Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "life-os"
  },
  "tags": [
    {
      "name": "ai-copilot",
      "id": "ai-copilot-tag"
    },
    {
      "name": "telegram",
      "id": "telegram-tag"
    }
  ],
  "pinData": {},
  "staticData": null,
  "triggerCount": 0
}
