n8n/workflows/13-sync-garmin-daily.json
{
  "name": "13 - Sync Garmin Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GARMIN_API_URL }}/wellness-api/rest/dailySummaryChart",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "garmin-daily",
      "name": "Get Garmin Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200],
      "credentials": {
        "oAuth2Api": {
          "id": "garmin-oauth",
          "name": "Garmin Connect"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GARMIN_API_URL }}/wellness-api/rest/dailySleep",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "garmin-sleep",
      "name": "Get Sleep Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400],
      "credentials": {
        "oAuth2Api": {
          "id": "garmin-oauth",
          "name": "Garmin Connect"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Garmin data to our format\nconst dailyData = $('Get Garmin Daily Summary').first().json;\nconst sleepData = $('Get Sleep Data').first().json;\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Parse daily summary\nconst daily = {\n  date: today,\n  \n  // Activity\n  steps: dailyData.totalSteps || 0,\n  distance_meters: dailyData.totalDistanceMeters || 0,\n  active_calories: dailyData.activeKilocalories || 0,\n  total_calories: dailyData.totalKilocalories || 0,\n  floors_climbed: dailyData.floorsAscended || 0,\n  active_minutes: dailyData.moderateIntensityMinutes + dailyData.vigorousIntensityMinutes || 0,\n  \n  // Stress & Energy\n  average_stress: dailyData.averageStressLevel || 0,\n  max_stress: dailyData.maxStressLevel || 0,\n  body_battery_high: dailyData.bodyBatteryHighestValue || 0,\n  body_battery_low: dailyData.bodyBatteryLowestValue || 0,\n  body_battery_current: dailyData.bodyBatteryMostRecentValue || 0,\n  \n  // Heart\n  resting_hr: dailyData.restingHeartRate || 0,\n  max_hr: dailyData.maxHeartRate || 0,\n  min_hr: dailyData.minHeartRate || 0,\n  avg_hr: dailyData.averageHeartRate || 0,\n  \n  // HRV\n  hrv_weekly_avg: dailyData.hrvWeeklyAverage || null,\n  hrv_last_night: dailyData.hrvLastNight || null,\n  hrv_status: dailyData.hrvStatus || null,\n  \n  // Sleep (from sleep endpoint)\n  sleep_start: sleepData.sleepStartTimestampGMT || null,\n  sleep_end: sleepData.sleepEndTimestampGMT || null,\n  sleep_duration_seconds: sleepData.sleepTimeSeconds || 0,\n  sleep_score: sleepData.sleepScores?.overall?.value || 0,\n  deep_sleep_seconds: sleepData.deepSleepSeconds || 0,\n  light_sleep_seconds: sleepData.lightSleepSeconds || 0,\n  rem_sleep_seconds: sleepData.remSleepSeconds || 0,\n  awake_seconds: sleepData.awakeSleepSeconds || 0,\n  \n  // Respiration\n  avg_respiration: dailyData.averageRespirationValue || null,\n  \n  // SpO2\n  avg_spo2: dailyData.averageOxygenSaturation || null,\n  \n  // Raw data for reference\n  raw_daily: dailyData,\n  raw_sleep: sleepData\n};\n\nreturn [{ json: daily }];"
      },
      "id": "transform-data",
      "name": "Transform Garmin Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "garmin_daily_stats",
        "columns": "date, steps, distance_meters, active_calories, total_calories, floors_climbed, active_minutes, average_stress, max_stress, body_battery_high, body_battery_low, body_battery_current, resting_hr, max_hr, min_hr, avg_hr, hrv_weekly_avg, hrv_last_night, hrv_status, sleep_start, sleep_end, sleep_duration_seconds, sleep_score, deep_sleep_seconds, light_sleep_seconds, rem_sleep_seconds, awake_seconds, avg_respiration, avg_spo2, raw_daily, raw_sleep",
        "conflictColumns": "date",
        "options": {}
      },
      "id": "save-stats",
      "name": "Save Garmin Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [960, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze data and check for alerts\nconst data = $input.first().json;\nconst alerts = [];\n\n// Sleep quality check\nconst sleepHours = data.sleep_duration_seconds / 3600;\nif (sleepHours < 6) {\n  alerts.push({\n    type: 'low_sleep',\n    severity: 'warning',\n    message: `Nur ${sleepHours.toFixed(1)}h Schlaf letzte Nacht`\n  });\n}\n\n// Body Battery check\nif (data.body_battery_current < 30) {\n  alerts.push({\n    type: 'low_battery',\n    severity: 'warning',\n    message: `Body Battery nur ${data.body_battery_current}%`\n  });\n}\n\n// Stress check\nif (data.average_stress > 50) {\n  alerts.push({\n    type: 'high_stress',\n    severity: 'info',\n    message: `Durchschnittlicher Stress: ${data.average_stress}`\n  });\n}\n\n// HRV check\nif (data.hrv_status === 'LOW' || data.hrv_status === 'POOR') {\n  alerts.push({\n    type: 'low_hrv',\n    severity: 'warning',\n    message: `HRV Status: ${data.hrv_status}`\n  });\n}\n\n// Resting HR check (if unusual)\nif (data.resting_hr > 80) {\n  alerts.push({\n    type: 'high_rhr',\n    severity: 'info',\n    message: `Ruhepuls erhöht: ${data.resting_hr} bpm`\n  });\n}\n\nreturn [{\n  json: {\n    ...data,\n    alerts,\n    has_alerts: alerts.length > 0\n  }\n}];"
      },
      "id": "analyze-data",
      "name": "Analyze Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "sync_status",
        "columns": "last_sync_at, last_sync_status, items_synced",
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "keyValue": "garmin"
            }
          ]
        }
      },
      "id": "update-sync",
      "name": "Update Sync Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [
        [
          {
            "node": "Get Garmin Daily Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sleep Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Garmin Daily Summary": {
      "main": [
        [
          {
            "node": "Transform Garmin Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sleep Data": {
      "main": [
        [
          {
            "node": "Transform Garmin Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Garmin Data": {
      "main": [
        [
          {
            "node": "Save Garmin Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Garmin Stats": {
      "main": [
        [
          {
            "node": "Analyze Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Data": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "health"
    },
    {
      "name": "sync"
    }
  ],
  "active": false
}
