n8n/workflows/16-calculate-readiness.json
{
  "name": "16 - Calculate Readiness",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "garmin_daily_stats",
        "columns": "*",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-today-stats",
      "name": "Get Today's Garmin Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "lNiMUxJD75fdbZEl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "garmin_daily_stats",
        "columns": "date, sleep_score, body_battery_high, resting_hr, hrv_last_night, average_stress",
        "options": {
          "orderByField": "date",
          "orderByDirection": "DESC",
          "limit": 7
        }
      },
      "id": "get-week-stats",
      "name": "Get Week's Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "lNiMUxJD75fdbZEl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "workout_logs",
        "columns": "date, workout_type, duration_minutes, intensity",
        "options": {
          "orderByField": "date",
          "orderByDirection": "DESC",
          "limit": 3
        }
      },
      "id": "get-recent-workouts",
      "name": "Get Recent Workouts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "lNiMUxJD75fdbZEl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate training readiness score\nconst todayStats = $('Get Today\\'s Garmin Stats').all();\nconst weekStats = $('Get Week\\'s Stats').all();\nconst recentWorkouts = $('Get Recent Workouts').all();\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Default values if no data\nif (todayStats.length === 0) {\n  return [{\n    json: {\n      date: today,\n      readiness_score: 50,\n      recommendation: 'Keine Garmin-Daten verfügbar. Höre auf deinen Körper.',\n      factors: {},\n      data_available: false\n    }\n  }];\n}\n\nconst data = todayStats[0].json;\n\n// Calculate averages from week data\nconst weekData = weekStats.map(s => s.json);\nconst avgSleepScore = weekData.reduce((sum, d) => sum + (d.sleep_score || 0), 0) / weekData.length;\nconst avgHRV = weekData.reduce((sum, d) => sum + (d.hrv_last_night || 0), 0) / weekData.filter(d => d.hrv_last_night).length;\nconst avgRHR = weekData.reduce((sum, d) => sum + (d.resting_hr || 0), 0) / weekData.filter(d => d.resting_hr).length;\n\n// Factor scores (0-100)\nconst factors = {};\nlet totalScore = 0;\nlet factorCount = 0;\n\n// 1. Sleep Score (weight: 25%)\nif (data.sleep_score) {\n  factors.sleep = {\n    value: data.sleep_score,\n    score: data.sleep_score,\n    weight: 0.25,\n    label: `Schlaf: ${data.sleep_score}/100`\n  };\n  totalScore += data.sleep_score * 0.25;\n  factorCount++;\n}\n\n// 2. Body Battery (weight: 25%)\nif (data.body_battery_current) {\n  factors.body_battery = {\n    value: data.body_battery_current,\n    score: data.body_battery_current,\n    weight: 0.25,\n    label: `Body Battery: ${data.body_battery_current}%`\n  };\n  totalScore += data.body_battery_current * 0.25;\n  factorCount++;\n}\n\n// 3. HRV compared to baseline (weight: 20%)\nif (data.hrv_last_night && avgHRV) {\n  const hrvRatio = data.hrv_last_night / avgHRV;\n  const hrvScore = Math.min(100, Math.max(0, hrvRatio * 100 - 20));\n  factors.hrv = {\n    value: data.hrv_last_night,\n    baseline: avgHRV.toFixed(0),\n    score: hrvScore,\n    weight: 0.20,\n    label: `HRV: ${data.hrv_last_night}ms (Baseline: ${avgHRV.toFixed(0)}ms)`\n  };\n  totalScore += hrvScore * 0.20;\n  factorCount++;\n}\n\n// 4. Resting HR compared to baseline (weight: 15%)\nif (data.resting_hr && avgRHR) {\n  // Lower RHR is better; score decreases if RHR is elevated\n  const rhrDiff = data.resting_hr - avgRHR;\n  const rhrScore = Math.min(100, Math.max(0, 100 - (rhrDiff * 5)));\n  factors.resting_hr = {\n    value: data.resting_hr,\n    baseline: avgRHR.toFixed(0),\n    score: rhrScore,\n    weight: 0.15,\n    label: `Ruhepuls: ${data.resting_hr} bpm (Baseline: ${avgRHR.toFixed(0)})`\n  };\n  totalScore += rhrScore * 0.15;\n  factorCount++;\n}\n\n// 5. Stress Level (weight: 15%)\nif (data.average_stress !== null) {\n  const stressScore = Math.max(0, 100 - data.average_stress);\n  factors.stress = {\n    value: data.average_stress,\n    score: stressScore,\n    weight: 0.15,\n    label: `Stress: ${data.average_stress}/100`\n  };\n  totalScore += stressScore * 0.15;\n  factorCount++;\n}\n\n// Normalize score if not all factors available\nconst readinessScore = factorCount > 0 ? Math.round(totalScore / (factorCount * 0.2)) : 50;\n\n// Generate recommendation\nlet recommendation = '';\nif (readinessScore >= 80) {\n  recommendation = '🟢 Ausgezeichnete Readiness! Perfekt für intensives Training.';\n} else if (readinessScore >= 60) {\n  recommendation = '🟡 Gute Readiness. Moderates Training empfohlen.';\n} else if (readinessScore >= 40) {\n  recommendation = '🟠 Eingeschränkte Readiness. Leichtes Training oder aktive Erholung.';\n} else {\n  recommendation = '🔴 Niedrige Readiness. Ruhetag empfohlen, Fokus auf Erholung.';\n}\n\n// Add specific advice based on factors\nif (factors.sleep?.score < 60) {\n  recommendation += ' Schlafdefizit beachten.';\n}\nif (factors.resting_hr?.value > avgRHR + 5) {\n  recommendation += ' Ruhepuls erhöht.';\n}\nif (factors.stress?.value > 50) {\n  recommendation += ' Stresslevel hoch.';\n}\n\nreturn [{\n  json: {\n    date: today,\n    readiness_score: readinessScore,\n    recommendation: recommendation,\n    factors: factors,\n    data_available: true,\n    raw_garmin: data\n  }\n}];"
      },
      "id": "calculate-readiness",
      "name": "Calculate Readiness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "daily_readiness",
        "columns": "date, readiness_score, recommendation, factors, raw_garmin",
        "conflictColumns": "date",
        "options": {}
      },
      "id": "save-readiness",
      "name": "Save Readiness",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "lNiMUxJD75fdbZEl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.readiness_score }}",
              "operation": "smaller",
              "value2": 40
            }
          ]
        }
      },
      "id": "low-readiness",
      "name": "Low Readiness?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare low readiness alert\nconst data = $input.first().json;\n\nlet message = `⚠️ *Niedrige Trainingsbereitschaft*\\n\\n`;\nmessage += `📊 *Readiness Score: ${data.readiness_score}%*\\n\\n`;\nmessage += `${data.recommendation}\\n\\n`;\n\nmessage += `*Faktoren:*\\n`;\nfor (const [key, factor] of Object.entries(data.factors)) {\n  const icon = factor.score >= 70 ? '✅' : (factor.score >= 40 ? '⚠️' : '❌');\n  message += `${icon} ${factor.label}\\n`;\n}\n\nmessage += `\\n💡 *Empfehlung:* Ruhetag oder sehr leichte Aktivität`;\n\nreturn [{\n  json: {\n    message: message,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "prepare-alert",
      "name": "Prepare Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1620,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 07:00": {
      "main": [
        [
          {
            "node": "Get Today's Garmin Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Week's Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Recent Workouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Garmin Stats": {
      "main": [
        [
          {
            "node": "Calculate Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week's Stats": {
      "main": [
        [
          {
            "node": "Calculate Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Workouts": {
      "main": [
        [
          {
            "node": "Calculate Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Readiness": {
      "main": [
        [
          {
            "node": "Save Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Readiness": {
      "main": [
        [
          {
            "node": "Low Readiness?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Readiness?": {
      "main": [
        [
          {
            "node": "Prepare Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "health"
    },
    {
      "name": "daily"
    }
  ],
  "active": false
}