n8n/workflows/wealth/sync-bhb-transactions.json
{
  "name": "Sync BHB Transactions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 6 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 06:15 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_sync_at FROM sync_status WHERE source = 'buchhaltungsbutler' AND entity_type = 'transactions' LIMIT 1",
        "options": {}
      },
      "id": "get-last-sync",
      "name": "Get Last Sync Date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Calculate date range for sync\nconst lastSync = $input.item.json.last_sync_at;\nconst now = new Date();\n\n// Default to 30 days ago if no last sync\nlet fromDate;\nif (lastSync) {\n  fromDate = new Date(lastSync);\n  // Go back 1 day to catch any late transactions\n  fromDate.setDate(fromDate.getDate() - 1);\n} else {\n  fromDate = new Date();\n  fromDate.setDate(fromDate.getDate() - 30);\n}\n\n// Format dates for BHB API (YYYY-MM-DD)\nconst formatDate = (date) => {\n  return date.toISOString().split('T')[0];\n};\n\nreturn {\n  json: {\n    from_date: formatDate(fromDate),\n    to_date: formatDate(now),\n    last_sync: lastSync || null\n  }\n};"
      },
      "id": "calculate-date-range",
      "name": "Calculate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://app.buchhaltungsbutler.de/api/v1/transactions?from={{ $json.from_date }}&to={{ $json.to_date }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $credentials.bhbApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-bhb-transactions",
      "name": "Fetch BHB Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "bhb-basic-auth",
          "name": "BHB Basic Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-data",
              "leftValue": "={{ $json.data?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-transactions",
      "name": "Has Transactions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-transactions",
      "name": "Split Transactions",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform BHB transaction to Supabase format\nconst tx = $input.item.json;\n\n// Map BHB transaction type to our type\nconst mapTransactionType = (bhbType) => {\n  const typeMap = {\n    'income': 'einnahme',\n    'expense': 'ausgabe',\n    'transfer': 'umbuchung',\n    'Einnahme': 'einnahme',\n    'Ausgabe': 'ausgabe',\n    'Umbuchung': 'umbuchung'\n  };\n  return typeMap[bhbType] || 'sonstige';\n};\n\n// Determine if rental income based on category or description\nconst isRentalIncome = (tx) => {\n  const rentalKeywords = ['miete', 'mieteinnahme', 'rent', 'vermietung'];\n  const description = (tx.description || '').toLowerCase();\n  const category = (tx.category || '').toLowerCase();\n  return rentalKeywords.some(kw => description.includes(kw) || category.includes(kw));\n};\n\nreturn {\n  json: {\n    bhb_transaction_id: tx.id,\n    date: tx.date || tx.booking_date,\n    amount: parseFloat(tx.amount) || 0,\n    description: tx.description || tx.purpose || '',\n    category: tx.category || null,\n    bhb_account_id: tx.account_id || null,\n    transaction_type: mapTransactionType(tx.type),\n    is_rental_income: isRentalIncome(tx),\n    counterparty: tx.counterparty || tx.partner_name || null,\n    reference: tx.reference || null,\n    raw_data: JSON.stringify(tx)\n  }\n};"
      },
      "id": "transform-transaction",
      "name": "Transform Transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (id, bhb_transaction_id, date, amount, description, category, transaction_type, is_rental_income, counterparty, reference, created_at, updated_at) VALUES (gen_random_uuid(), '{{ $json.bhb_transaction_id }}', '{{ $json.date }}', {{ $json.amount }}, '{{ $json.description.replace(/'/g, \"''\") }}', {{ $json.category ? \"'\" + $json.category + \"'\" : 'NULL' }}, '{{ $json.transaction_type }}', {{ $json.is_rental_income }}, {{ $json.counterparty ? \"'\" + $json.counterparty.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, {{ $json.reference ? \"'\" + $json.reference + \"'\" : 'NULL' }}, NOW(), NOW()) ON CONFLICT (bhb_transaction_id) DO UPDATE SET amount = {{ $json.amount }}, description = '{{ $json.description.replace(/'/g, \"''\") }}', category = {{ $json.category ? \"'\" + $json.category + \"'\" : 'NULL' }}, transaction_type = '{{ $json.transaction_type }}', is_rental_income = {{ $json.is_rental_income }}, counterparty = {{ $json.counterparty ? \"'\" + $json.counterparty.replace(/'/g, \"''\") + \"'\" : 'NULL' }}, updated_at = NOW()",
        "options": {}
      },
      "id": "upsert-transaction",
      "name": "Upsert Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_status (id, source, entity_type, last_sync_at, status, records_synced) VALUES (gen_random_uuid(), 'buchhaltungsbutler', 'transactions', NOW(), 'success', {{ $('Split Transactions').all().length }}) ON CONFLICT (source, entity_type) DO UPDATE SET last_sync_at = NOW(), status = 'success', records_synced = {{ $('Split Transactions').all().length }}, error_message = NULL",
        "options": {}
      },
      "id": "update-sync-status-success",
      "name": "Update Sync Status (Success)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_status (id, source, entity_type, last_sync_at, status, records_synced) VALUES (gen_random_uuid(), 'buchhaltungsbutler', 'transactions', NOW(), 'success', 0) ON CONFLICT (source, entity_type) DO UPDATE SET last_sync_at = NOW(), status = 'success', records_synced = 0, error_message = NULL",
        "options": {}
      },
      "id": "update-sync-status-no-data",
      "name": "Update Sync Status (No Data)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_status (id, source, entity_type, last_sync_at, status, error_message) VALUES (gen_random_uuid(), 'buchhaltungsbutler', 'transactions', NOW(), 'error', '{{ $json.message || \"Unknown error\" }}') ON CONFLICT (source, entity_type) DO UPDATE SET last_sync_at = NOW(), status = 'error', error_message = '{{ $json.message || \"Unknown error\" }}'",
        "options": {}
      },
      "id": "update-sync-status-error",
      "name": "Update Sync Status (Error)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $credentials.telegramChatId }}",
        "text": "=:warning: **BHB Transactions Sync Failed**\n\nTime: {{ $now.toISO() }}\nError: {{ $json.message || 'Unknown error' }}\n\nPlease check the n8n workflow logs.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-error",
      "name": "Send Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $credentials.telegramChatId }}",
        "text": "=:white_check_mark: **BHB Transactions Sync Complete**\n\nTime: {{ $now.toISO() }}\nRecords synced: {{ $('Split Transactions').all().length }}\nDate range: {{ $('Calculate Date Range').item.json.from_date }} to {{ $('Calculate Date Range').item.json.to_date }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_notification": true
        }
      },
      "id": "telegram-success",
      "name": "Send Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Life OS Telegram Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id as supabase_account_id, a.bhb_account_id FROM accounts a WHERE a.bhb_account_id IS NOT NULL",
        "options": {}
      },
      "id": "get-account-mapping",
      "name": "Get Account Mapping",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Link transactions to accounts using BHB account ID mapping\nconst tx = $input.item.json;\nconst accountMappings = $('Get Account Mapping').all();\n\n// Find matching account\nconst mapping = accountMappings.find(m => m.json.bhb_account_id === tx.bhb_account_id);\n\nreturn {\n  json: {\n    ...tx,\n    account_id: mapping?.json.supabase_account_id || null\n  }\n};"
      },
      "id": "link-account",
      "name": "Link Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 200],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate sync statistics\nconst items = $input.all();\nconst totalAmount = items.reduce((sum, item) => sum + (parseFloat(item.json.amount) || 0), 0);\nconst incomeCount = items.filter(item => item.json.transaction_type === 'einnahme').length;\nconst expenseCount = items.filter(item => item.json.transaction_type === 'ausgabe').length;\n\nreturn [{\n  json: {\n    total_transactions: items.length,\n    total_amount: totalAmount,\n    income_count: incomeCount,\n    expense_count: expenseCount,\n    sync_date: new Date().toISOString()\n  }\n}];"
      },
      "id": "aggregate-stats",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 200],
      "disabled": true
    }
  ],
  "connections": {
    "Daily 06:15 Trigger": {
      "main": [
        [
          {
            "node": "Get Last Sync Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sync Date": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "Fetch BHB Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BHB Transactions": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Status (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Success": {
      "main": [
        [
          {
            "node": "Has Transactions?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Status (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transactions?": {
      "main": [
        [
          {
            "node": "Split Transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sync Status (No Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Transactions": {
      "main": [
        [
          {
            "node": "Transform Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Transaction": {
      "main": [
        [
          {
            "node": "Upsert Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Transaction": {
      "main": [
        [
          {
            "node": "Update Sync Status (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Status (Success)": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Status (No Data)": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Status (Error)": {
      "main": [
        [
          {
            "node": "Send Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Error": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Success": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "life-os"
  },
  "tags": [
    {
      "name": "wealth",
      "id": "wealth-tag"
    },
    {
      "name": "sync",
      "id": "sync-tag"
    },
    {
      "name": "buchhaltungsbutler",
      "id": "bhb-tag"
    }
  ],
  "pinData": {},
  "staticData": null,
  "triggerCount": 0
}
